.blocks {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
  width: 100%;
}

.dash-block {
    background: white;
    width: 48%;
    height: 40%;
    color: #555;
    margin: 1%;
    text-decoration: none;
		border-radius: 5px;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
