/*** Background ***/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, rgb(255, 165, 91), rgb(255, 212, 119), rgb(255, 124, 72), rgb(217, 235, 156));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.dashboard {
  max-height: 100%;
  overflow: hidden;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
.material-icons {
  vertical-align: bottom;
  display: inline;
}

body {
  font-family: Montserrat, sans-serif;
}

/* header */
header {
  width: 100%;
  height: 10%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row wrap;
	justify-content: center;
  align-items: center;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.651);
	background: rgba(0, 0, 0, 0.116);
}

header a {
  color: rgb(255, 255, 255);
	text-decoration: none;
	border-radius: 8%;
	align-self: center;
	width: 35%;
	height: 35%;
	transition: background .4s ease-in-out;
}

.title {
  width: 45%;
}

div.headernav {
  width: 20%;
  margin-left: 2.5%;
	margin-right: 2.5%;
}

.account {
  display: flex;
  justify-content: space-evenly;
}

.indexHeader {
  font-size: 65px;
  text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 10%;
	height: 8%;
}

.index {
  width: 500px;
  margin: auto;
  font-size: 18px;
}

.index .creation {
  padding-top: 10%;
}
#middle {
	padding-bottom: 15%;
}

/* The Modal (background) */
#myBtn {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	margin-bottom: 3%;
	margin-right: 5%;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fffffff1;
	color: rgb(83, 83, 83);
	margin: auto; /* 15% from the top and centered */
  padding: 20px;
	width: 50%; /* Could be more or less, depending on screen size */
	border: none;
	border-radius: 5px;
}

#help {
	font-size: 25px;
	color: rgb(255, 255, 255);
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(0, 0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.normalText {
	text-align: left;
	line-height: 28px;
	font-size: 17px;
	font-weight: 100;
	word-spacing: 1px;
	letter-spacing: .5px;
}
.subtitleModal {
	font-style: italic;
	font-weight: bold;
}
.popupModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/*** DASHBOARD ***/
.dashTileWrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	width: 100%;
	margin: 5% auto;
	margin-top: 3%;
}

.dashTile {
		width: 45%;
		background: rgba(0, 0, 0, 0.116);
		height: 35%;
		color: rgb(255, 255, 255);
    margin: 2%;
    text-decoration: none;
		border-radius: 5px;
		transition: background .4s ease-in-out;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.dashTile:hover {
	background: rgba(0, 0, 0, 0.397);
}

/** FORMS **/
.signInInput {
	height: 44px;
  border: none;
  font-size: 12px;
	align-items: center;
  width: 100%;
  margin: 2%;
  background: rgb(255, 255, 255);
  color: #333;
  letter-spacing: 2px;
  text-indent: 5%;
  border-radius: 5px;
}

.registrationForm {
	padding-top: 10%;
	margin: 15%;
	position: relative;
}

.multiPageForm {
	width: 65%;
	margin: 0 auto;
}

.multiPageForm input[type=checkbox]{
	width: auto;
	margin: 3%;
	float: left;
}

.formButton, .descButton {
	width: 100px;
	background: rgb(92, 92, 92);
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 5px;
	transition: background .4s ease-in-out;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
}
.formButton.forward {
  float: right;
}

.descButton.remind, .descButton.done {
  float: right;
  margin-top: 0;
  margin-right: 2%;
}

.formButton.previous {
  float: left;
}

.descButton.delete, .descButton.complete {
  float: left;
  margin-top: 0;
  margin-left: 2%;
}

.formButton.submit {
	border: 10px;
	background: rgb(66, 201, 73);
	font-weight: bold;
  float: right;
}

.formButton.large {
  width: 50%;
  height: 50px;
}

.descButton {
  box-shadow: none;
}
.descButton.delete {
  background: #CD2626;
}

.descButton.complete {
  background: #0000de;
}
.descButton.done {
	background: rgb(66, 201, 73);
}

.formButton:hover, .descButton:hover {
	background: #2f2f2f;
}

.formButton.submit:hover {
	background: rgb(82, 223, 82);
}

.descButton.delete:hover {
	background: firebrick;
}

.descButton.complete:hover {
  background: #000894;
}

.descButton.done:hover {
	background: rgb(82, 223, 82);
}

.registrationForm fieldset {
	background:rgb(255, 255, 255);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
}

.registrationForm fieldset:not(:first-of-type) {
	display: none;
}

.registrationForm.modal fieldset {
	background:rgb(255, 255, 255);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 50%;
	margin: 0 10%;
	position: relative;
}

input, textarea{
	padding: 15px;
	border: 1px solid rgb(172, 172, 172);
	border-radius: 5px;
	margin: 2% auto;
	width: 100%;
	letter-spacing: 1.5px;
	color: #2C3E50;
	font-size: 12px;
  resize: none;
}

input:invalid {
  border: 1px dashed rgb(172, 172, 172);
}

input.signInInput:invalid {
  border: none;
}

input.signInInput.error {
  border: 1px solid red;
}

input:active {
	border: 1px solid rgb(172, 172, 172);
}

input.error, textarea.error {
  border: 1px solid red;
}

input.error::placeholder, textarea.error::placeholder {
  color: red;
  font-style: italic;
}

#errormsg {
  color: red;
}

#progressbar {
  padding-left: 0px;
  counter-reset: step;
  justify-content: center;
	display: flex;
}

#progressbar li {
	font-size: 10px;
	color: rgb(141, 141, 141);
	width: 33%;
	position: relative;
	list-style: none;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 11px;
	color: #333;
	background: rgb(212, 212, 212);
	border-radius: 100%;
	margin: 5% auto;
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: rgb(82, 223, 82);
	color: white;
}

.createNewRoom {
	display: inline-flex;
	align-items: center;
	text-align: center;
	margin-left: 35%;
	margin-right: 50%;
	width: 100%;
}

.checkHolder {
	width: 5%;
}

input[type=checkbox]
{
  -webkit-transform: scale(2); /* Safari and Chrome */
  padding: 10px;
}
#choreDay:focus {border: 3px solid #ddd;}
.dropdown {
  width: 100%;
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  color: #777;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 2;
  border-radius: 2px;
  min-width: 300px;
}

.searchList{
  padding: 12px 16px;
}

.searchList:hover {
  background-color: #ddd;
}

.roommateList {
	width: 100%;
}

.formTitle {
	font-size: 22px;
	color: rgb(92, 92, 92);
	padding-top: 0px;
	margin-bottom: 10px;
}
.subtitle {
	font-weight: 10px;
	font-size: 15px;
	color: #666;
}

.checkitem p , .infoList p{
	letter-spacing: 1.5px;
	color: #2C3E50;
  font-size: 12px;
  width: inherit;
  text-align: left;
	display: inline;
}
.checkitem {
	width: 80%;
	margin: 5% auto;
	text-align: left;
}
.checkitem p{
	padding-left: 10px;
}

/*** rules/chores/payments overview ***/
.line {
    width: 100%;
    margin: -1px;
    border-style: solid;
    border-color: rgb(173, 173, 173);
    border-width: 2px 0px 2px 0px;
}

.list {
    display: block;
}

.ruleTitle, .roomTitle {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
	color: #666;
	padding: 20px;
	text-align: left;
	font-size: 14pt;
}

button.ruleTitle.active, button.ruleTitle:hover {
  background-color: #f1f1f1;
}

.ruleDescription{
	display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

button.ruleTitle:after {
  content: '\22EF';
  font-size: 20px;
  float: right;
  margin-left: 5px;
}

button.active:after {
  content: "\2796";
}

.listwrap {
	padding-top: 1%;
	margin: 5%;
	position: relative;
}

.infoList {
  width: 80%;
  margin: auto;
  background:rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
}

.infoList p {
  padding: 15px;
	border: 1px solid rgb(172, 172, 172);
	border-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
	display: block;
}

#errormsg {
  color: red;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal fieldset{
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*for the comment box */

#HCB_comment_box {
    color: #333;
}

#comments_list {
  text-align: left;
}

.home-desc, #hcb_msg, #HCB_comment_box a, #HCB_comment_box .gravatar, #hcb_form div a, #HCB_comment_tb {display: none;}

#profile {
  display: none;
}
